.logo-w-35{
    width: 35%;
}
.small-logo {
    top: 10px;
    left: 0;
    z-index: 999;
    position: absolute;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none
}

.link-color-green{
    color: #00aa55;
}

.link-color-green:hover{
    color: #ababab !important;
}

.light-green {
    color: #82d7ad58;
}

.dark-green-bg{
    background-color: #01592a;
    color: #fff;
}

.dark-green-btn {
    background-color: #01592a;
    color: #fff;
}

.dark-green-btn:hover {
    border: 1px solid #01592a;
    color: #01592a;
}

.dark-green-text {
    color: #01592a;
}

.about-img-section {
    height: 100%;
    display: flex;
    align-items: center;
}

.about-img-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}